<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col col-12 text-center my-4">
                    <a href="https://instagram.com/magicandcodes"><i class="icon-instagram"></i></a>
                    <a href="https://github.com/kylekirkby"><i class="icon-github-squared"></i></a>
                    <a href="https://www.linkedin.com/in/kylekirkby/"><i class="icon-linkedin-squared"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col col-12 my-2 social_media_icons text-center">
                    Copyright &copy; 2020
                </div>
            </div>
        </div>
    </div>
</footer>
