@import "animate";

@mixin dropdownAnimation() {
  @extend .animated;
  @extend .swing;
}
html {
  overflow-x: hidden;
  font-display: block !important;
}
body {
  font-family: "Quicksand" !important;
  // background-image: url("/assets/images/bg-noise.png") !important;
  background-repeat: repeat;
}
nav#mainNav {
  a.nav-link.nav-link-ltr.js-scroll-trigger {
    border-bottom: 1px solid #eee;
  }
  padding: 40px 0;
  transition: padding 100ms ease-in-out;
  button.navbar-toggler.navbar-toggler-right {
    background-color: black;
    transform: rotate(-90deg);
    right: -24px;
    position: relative;
    transition: padding transform 100ms ease-in-out;
    transition-delay: 200ms;
  }
  &.navbar-shrink {
    padding: 10px 0;
    button.navbar-toggler.navbar-toggler-right {
      background-color: black;
      transform: rotate(-90deg) translateX(-20px);
      right: -24px;
      position: relative;
    }
  }
}
.header_image {
  height: 500px;
  overflow: hidden;
  position: relative;
}
img.header__image {
  position: absolute;
  height: 500px;
  object-fit: cover;
  width: 100%;
}
#page_content {
  font-size: 1.5rem;
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
  ol li,
  ul li {
    margin: 20px;
  }
  .highlighter-rouge {
    margin: 40px 0;
    div.highlight {
      position: relative;
      span.lang_id {
        margin-right: 10px;
        width: auto;
        font-size: 14px;
        color: white;
        top: -10px;
        padding: 0 4px;
        border-radius: 1px;
        left: -5px;
        position: absolute;
        background-color: black;
      }
    }
  }

  code.highlighter-rouge {
    background-color: #272822;
    border-radius: 3px;
    color: #e6db64;
    padding: 0 5px;
  }
  pre {
    color: #d5b6b6;
  }
  pre.highlight {
    padding: 20px;
  }
}
#root {
  .social_media_share_image {
    height: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .home {
    .intro-text {
      .intro-heading {
        margin-bottom: 0px;
        font-weight: 300;
      }
      p {
        font-size: 26px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .btn {
    color: #fff;
    box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  }
  .btn-secondary {
    border-color: #262626;
    background-size: 200% auto;
    background-image: linear-gradient(
      to right,
      #262626 0%,
      #4d4d4d 50%,
      #262626 100%
    );
  }
  .btn-primary {
    border-color: #81007f;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-image: linear-gradient(
      to right,
      #87007c 0%,
      #cd0054 50%,
      #81007f 100%
    );
    transition: 0.5s;
    &:hover {
      background-position: right center;
    }
  }
  header {
    overflow: hidden;
    .header__bg {
      z-index: -1;
      position: absolute;
      .header__image {
        height: 800px;
        width: 100vw;
        object-fit: cover;
      }
    }
  }
  #main_container {
    background-color: white;
  }
}
.logo_image {
  filter: grayscale(1);
  opacity: 0.3;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  object-fit: contain;
  width: 100%;
  height: 100px;
  transition: opacity filter 500ms ease;
  &:hover {
    opacity: 1;
    filter: grayscale(0);
    transform: scale(1.2);
  }
}

#root .platforms {
  background-color: #e9e9e9 !important;
}
.display-5 {
  color: #565656;
  font-weight: normal;
}
.circle_img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 300px;
}
#root a.navbar-brand {
  color: #000;
}
#root header.masthead .intro-text {
  padding-top: 150px;
}
.container-fluid.main {
  margin-top: 150px;
}
